#produk {
  width: 100%;
  height: 300vh;
  display: flex;
  background-color: var(--black-color);
  justify-content: center;
}
.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3.5rem;
  padding-top: 5%;
  margin: 0 auto;
  width: max-content;
}

.cardProduk {
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
  height: 15.5em;
  width: 11em;
  font-size: 1.5em;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1em;
  display: flex;
  align-items: flex-end;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  text-decoration: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all, var(--transition-time);
  -moz-transition: all, var(--transition-time);
  -ms-transition: all, var(--transition-time);
  -o-transition: all, var(--transition-time);

  &:after {
    content: "";
    background-image: url("/src/assets/ARTTIMES/art times 1.png");
    background-position: center;
    background-size: cover;
    height: 15.5em;
    width: 11em;
    bottom: 0;
    right: -100%;
    border-radius: 8px;
    position: absolute;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  &:hover {
    --bg-filter-opacity: 0.4;
    background-image: linear-gradient(
        rgba(0, 0, 0, var(--bg-filter-opacity)),
        rgba(0, 0, 0, var(--bg-filter-opacity))
      ),
      var(--bg-img);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);

    .tags .tag {
      transform: scaleX(0);
      -webkit-transform: scaleX(0);
      -moz-transform: scaleX(0);
      -ms-transform: scaleX(0);
      -o-transform: scaleX(0);
    }

    &:before,
    &:after {
      right: 0;
    }
  }

  &:hover .date {
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
  }

  .tags .tag {
    font-size: 0.75em;
    background: #1abc9c85;
    color: #fff;
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-top: 16.5em;
    margin-right: 7em;
    line-height: 1.5em;
    transform: scaleX(1);
    transform-origin: left;
    transition: all, var(--transition-time) ease-out;
    -webkit-transition: all, var(--transition-time) ease-out;
    -moz-transition: all, var(--transition-time) ease-out;
    -ms-transition: all, var(--transition-time) ease-out;
    -o-transition: all, var(--transition-time) ease-out;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
  }
  .date {
    position: absolute;
    color: #fff;
    top: 0;
    right: 0;
    font-size: 0.65em;
    padding: 1em;
    line-height: 1em;
    opacity: 0.8;
  }
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7 {
  background-size: cover;
  background-position: center;
  height: 15.5em;
  width: 11em;
}

#card1 {
  --bg-img: url("/src/assets/ARTTIMES/1.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

#card2 {
  --bg-img: url("/src/assets/ARTTIMES/2.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

#card3 {
  --bg-img: url("/src/assets/ARTTIMES/3.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

#card4 {
  --bg-img: url("/src/assets/ARTTIMES/4.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

#card5 {
  --bg-img: url("/src/assets/ARTTIMES/5.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

#card6 {
  --bg-img: url("/src/assets/ARTTIMES/6.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

#card7 {
  --bg-img: url("/src/assets/ARTTIMES/7.png");
  --bg-filter-opacity: 0.1;
  background-image: linear-gradient(
      rgba(0, 0, 0, var(--bg-filter-opacity)),
      rgba(0, 0, 0, var(--bg-filter-opacity))
    ),
    var(--bg-img);
}

.lamanProduk {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5% 10% 0;
  background-color: var(--content);
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.titleB {
  width: 100%;
  margin-top: 7%;
  text-align: center;
  h1 {
    letter-spacing: 2px;
    color: #1abc9c;
    font-weight: 700;
    font-size: 40px;
  }
  h2 {
    cursor: none;
    margin-top: 0;
    letter-spacing: -7px;
    color: var(--sky-color);
    max-width: 700px;
    font-weight: bolder;
    display: inline-block;
  }
  p {
    margin-top: 2%;
    color: var(--sky-color);
    font-weight: bolder;
  }
}

.layerCardProduk {
  width: 90%;
  height: 250vh;
  margin: auto;
  border-radius: 12px;
  background-color: var(--card-content);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
